body{
    background-color: black;
    color: goldenrod;
}

h1 {
    text-align: center;
}

#menu {
    margin-left: 100px;
}

#kateg {
    position: relative;
    left: 74%;

}

#searchBar {
    position: relative;
    left: 80%;

}