<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Filmek</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/update.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<h1>Update Actor</h1>
<nav></nav>


<main>

    <form>
        <label>
            <span>Name:</span>
            <input class="name" type="text" value="<%= actor.nev %>" />
        </label>
        <label>
            <span>Age:</span>
            <input class="age" type="text" value="<%= actor.kor %>" />
        </label>

        <div class="button-container">
            <button onclick="updateActor(<%= actor.id %>)">✔</button>
            <button><a href="/actors">x</a></button>
        </div>
    </form>

    <script>
        function updateActor(id) {
            let actor = {
                id,
                nev: $('.name').val(),
                kor: $('.age').val(),
            }

            axios.post(`http://localhost:3001/actor-update`, {actor})
                .then(() => {
                    alert('Actor update ok!')
                }).catch((response) => {
                console.log(response)
            });
        }
    </script>
    <!--    </form>-->
</main>

</body>
</html>