body{
    background-color: black;
    color: goldenrod;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid orange;
    margin: 20px;
    padding-bottom: 5px;
}

.csoport {
    /*border: 2px solid red;*/
    width: 400px;
}

.search-box {
    display: flex;
    /*border: 2px solid cornflowerblue;*/
    justify-content: center;
}

#kateg {
    height: 100%;
}

.signin-box {
    display: flex;

    justify-content: end;
    gap: 20px;
}

table {
    margin: auto;
    border: 1px solid orange;
    width: 700px;
    border-collapse: collapse;
}

table th {
    text-align: center;
    border-bottom: 1px solid orange;
}

table td {
    text-align: center;
}

table .ertekeles {
    /*text-align: start;*/
    /*padding-left: 25px;*/
}

/*table tr {*/
/*    border-bottom: 1px solid orange;*/
/*}*/

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: white;
}

.active {
    text-decoration: underline;
}

.icon:hover {
    filter: brightness(150%);
    cursor: pointer;
}