.button-container {
    display: flex;
    gap: 5px;

    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;

    /*flex-direction: column;*/
    /*align-items: center;*/
}

form input {
    width: 100px;
}