<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Filmek</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/update.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
<h1>Actors</h1>
<nav>
    <div class="menu-box csoport">
        <select id="menu" class="menu-class">
            <option selected = "selected">Menu</option>
        </select>
    </div>

    <div class="search-box csoport">
        <input id="searchBar" type="text" placeholder="Search..">
        <form>
            <select id="kateg">
                <option selected = "selected">Genres</option>
                <option>Action</option>
                <option>Comedy</option>
                <option>Drama</option>
                <option>Fantasy</option>
                <option>Horror</option>
                <option>Sci-fi</option>
                <option>Sport</option>
                <option>Thriller</option>
            </select>
        </form>
    </div>

    <div class="signin-box csoport">
        <a href="/">Films</a>
        <a href="/awards" >Awards</a>
        <a href="/genres">Genres</a>
        <a class="active" href="/actors">Actors</a>
    </div>
</nav>


<main>
    <!--    <form method="post" action="/actors-update/">-->
    <label>
        <input class="actor-name" type="text" value="<%= actor.nev %>" />
        <input class="actor-age" type="text" value="<%= actor.kor %>" />
    </label>

    <div class="button-container">
        <button onclick="updateActor(<%= actor.id %>, JSON.stringify(<% actor %>))">✔</button>
        <button><a href="/actors">x</a></button>
    </div>
    <script>
        function updateActors(id, actor) {
            axios.post(`http://localhost:3001/actors-update/${id}`, {actor})
                .then(()=>{
                    window.location('http://localhost:3001/actors');
                }).catch((response)=> {
                console.log(response)
            })
        }

    </script>
    <!--    </form>-->
</main>

</body>
</html>