<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Filmek</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/actors.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
<h1>Actors</h1>
<nav>
    <div class="menu-box csoport">
        <select id="menu" class="menu-class">
            <option selected = "selected">Menu</option>
        </select>
    </div>

    <div class="search-box csoport">
        <input id="searchBar" type="text" placeholder="Search..">
        <form>
            <select id="kateg">
                <option selected = "selected">All</option>
                <option>Action</option>
                <option>Comedy</option>
                <option>Drama</option>
                <option>Fantasy</option>
                <option>Horror</option>
                <option>Sci-fi</option>
                <option>Sport</option>
                <option>Thriller</option>
            </select>
        </form>
    </div>

    <div class="signin-box csoport">
        <a href="/">Films</a>
        <a href="/awards" >Awards</a>
        <a href="/genres">Genres</a>
        <a class="active" href="/actors">Actors</a>
    </div>
</nav>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < actors.length; i++) { %>
        <tr>
            <td><%= actors[i].nev %></td>
            <td><%= actors[i].kor %>
            <td class="icon">✏</td>
            <td class="icon">🗑</td>
        </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>