<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Filmek</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/update.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<h1>Create Award</h1>
<nav>
    <div class="menu-box csoport">
        <select id="menu" class="menu-class">
            <option selected = "selected">Menu</option>
        </select>
    </div>

    <div class="search-box csoport">
        <input id="searchBar" type="text" placeholder="Search..">
        <form>
            <select id="kateg">
                <option selected = "selected">genres</option>
                <option>Action</option>
                <option>Comedy</option>
                <option>Drama</option>
                <option>Fantasy</option>
                <option>Horror</option>
                <option>Sci-fi</option>
                <option>Sport</option>
                <option>Thriller</option>
            </select>
        </form>
    </div>

    <div class="signin-box csoport">
        <a href="/">Films</a>
        <a href="/awards" >Awards</a>
        <a href="/genres">Genres</a>
        <a href="/actors">Actors</a>
    </div>
</nav>


<main>
    <form>
        <label>
            <span>Name:</span>
            <input class="name" type="text" />
        </label>
        <label>
            <span>Description:</span>
            <input class="description" type="text" />
        </label>

        <div class="button-container">
            <button onclick="createAward()">✔</button>
            <button><a href="/awards">x</a></button>
        </div>
    </form>

    <script>
        function createAward() {
            let award = {
                nev: $('.name').val(),
                leiras: $('.description').val(),
            }

            axios.post(`http://localhost:3001/award-create`, {award})
                .then(()=>{
                    alert('Award created successfully!');
                }).catch((response)=> {
                console.log(response)
            })
        }
    </script>
    <!--    </form>-->
</main>

</body>
</html>