<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Filmek</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/update.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<h1>Create Films</h1>
<nav></nav>
<main>
        <form>
            <label>
                <span>Title:</span>
                <input class="title" type="text" value="Film1" />
            </label>
            <label>
                <span>Release:</span>
                <input class="release" type="text" value="2022/10/10" />
            </label>
            <label>
                <span>Score:</span>
                <input class="score" type="text" value="6" />
            </label>
            <label>
                <span>Duration:</span>
                <input class="duration" type="text" value="01:10:10" />
            </label>
            <label>
                <span>Genres:</span>
                <input class="genres" type="text"  />
            </label>

            <div class="button-container">
                <button onclick="createFilm()">✔</button>
                <button><a href="/">x</a></button>
            </div>
        </form>

    <script>
        function createFilm() {
            let film = {
                cim: $('.title').val(),
                megjelenes: $('.release').val(),
                ertekeles: $('.score').val(),
                hossz: $('.duration').val(),
            }

            let body = {
                film,
                genres: $('.genres').val()
            };
            axios.post(`http://localhost:3001/film-create`, body)
                .then(()=>{
                    alert('Film created successfully!');
                }).catch((response)=> {
                console.log(response)
            })
        }
    </script>
<!--    </form>-->
</main>

</body>
</html>