<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Create - Genre</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/update.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<h1>Create Genre</h1>
<nav></nav>
<main>
    <form>
        <label>
            <span>Name:</span>
            <input class="name" type="text" />
        </label>

        <div class="button-container">
            <button onclick="createGenre()">✔</button>
            <button><a href="/genres">x</a></button>
        </div>
    </form>

    <script>
        function createGenre() {
            let genre = {
                nev: $('.name').val(),
            }

            axios.post(`http://localhost:3001/genre-create`, {genre})
                .then(()=>{
                    alert('Genre created successfully!');
                }).catch((response)=> {
                console.log(response)
            })
        }
    </script>
    <!--    </form>-->
</main>

</body>
</html>